<nav class="nav navbar-expand-sm bg-warning">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a routerLink="/" >HOME</a></li>
<li class="breadcrumb-item">Dashboard</li>
</ol>
</nav>

<h5 class="text-dark  pt-2  mt-2 mb-4">Dashboard</h5>
<div class="row">

<div class="col-sm-3 pb-3" style="background-color: pink">

  <div class="row">
<div class="col-lg-11  text-left text-capitalize mx-2 fs-5 fw-bold" style="color: blueviolet;">
  {{Designation}}
</div>
<div class="col-11 mt-3">
<img src="assets/jkimage.jpg" width="100px">
</div>
<div class="col-12 text text-center pt-2 pb-2">
{{Username}}
</div>
<div class="col-12 text-center pt-2 pb-3 fs-4 fw-bold" style="color: blueviolet;">
Team summary
</div>
<div class="col-12 mb-3">
<ul class="list-group">
<li class="list-group-item">No of team members
<span class="badge bg-primary rounded-pill" style="font-size: 13px">{{NoOfTeamMembers }}</span>
</li>
<li class="list-group-item"> Total cost of all products
  <span class="badge bg-primary rounded-pill" style="font-size: 13px">{{TotalCostOfAllProjects }}</span>
</li>
<li class="list-group-item"> Pending tasks
  <span class="badge badge-pill bg-primary rounded-pill"style="font-size:13px">{{PendingTasks }}</span>
</li>
<li class="list-group-item">Upcoming projects
  <span class=" badge badge-pill bg-primary rounded-pill "
  style="font-size:13px">{{UpComingProjects }}</span>
</li>
</ul>
<div class="col-12 text-center pt-2 pb-2 text-center pt-2 fs-4 fw-bold" style="color: blueviolet;">CLIENTS</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let client of Clients">{{client}}</li>

 </ul>
</div>
</div>

</div>


<div class="col-lg-6" style="background-color: grey;">
<div class="row">
  <div class="col-12 pb-2" style="background-color: azure;">
    <div class="row mt-2">

      <div class="dropdown col-6 text-start">
             <button class="btn btn-primary
              dropdown-toggle"
              type="button"
              data-toggle="dropdown">
              ProjectA</button>
                                <div class="dropdown-menu justify-content-center" id="dropdownMenuButton">
                                  <a class="dropdown-item" href="#" *ngFor="let project of Projects">{{project}}</a>

                                </div>
      </div>
          <div class="col-6 text-end">
          <button class="btn btn-primary
          dropdown-toggle"
            type="button"
            data-toggle="dropdown">
            Years</button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#" *ngFor="let year of Years">{{year}}</a>

                                </div>

    </div>
  </div>
  </div>
</div>
<div class="col-12 mx-auto mt-1 text-center  text-uppercase  pb-2 pt-2 mx-2 fs-5 fw-bold bg-dark" style="color: white;">Project breifing</div>
<div class="col-12">
              <table class="table table-info">
              <thead>
                <tr>
                      <th>project cost</th>
                      <th>current expenditure </th>
                      <th>available funds</th>
                      <tr>
                      </thead>
                      <tbody>
                        <tr>
                                        <td>${{ProjectCost}}</td>
                                        <td>{{CurrentExpenditure}}</td>
                                        <td>${{AvailableFunds}}</td>
                                    </tr>
                                  </tbody>
                                </table>

</div>
      <div class="col-12  mx-auto mt-1 text-center  text-uppercase  pb-2 pt-2 mx-2 fs-5 fw-bold bg-dark" style="color: white;">Team member summary</div>

      <table class="table table-info">
        <tr>
          <th>Region</th>
          <th>Team Members Count</th>
          <th>Temporarily Unavailable Members</th>
        </tr>
<tr *ngFor="let tms of TeamMembersSummary">
          <td>
            <b>{{tms.Region}}</b>
          </td>
          <td>{{tms.TeamMembersCount}}</td>
          <td>{{tms.TemporaryUnavailableMembers}}</td>
</tr>
</table>
</div>



<div class="col-lg-3" style="background-color: blueviolet;">
<div class="col-12 mx-auto mt-1 text-center  text-uppercase  pb-2 pt-2 mx-2 fs-5 fw-bold bg-dark" style="color: white;">Team members</div>
<div class="col-lg-12 pt-2">
      <div class="accordion" id="accordion1">
        <!-- east ,west north and south starts -->
        <div class="card" *ngFor="let m of Accdata;let z=index">
               <div class="card-header bg-dark">
                  <h1 class="mb-0 mt-0 text-danger">
        <button class="btn btn-success" type="button" data-toggle="collapse" [attr.data-target]="'#cardbody'+z">{{m.region}}</button>
                  </h1>
              </div>
          <div [id]="'cardbody'+z" class="collapse"
           data-parent="#accordion1">
          <div class="card-body">
   <table class="table">
          <thead>
            <tr><th>ID</th>
                <th>Name</th>
                <th>Status</th>
            </tr>

          </thead>
                  <tbody>
                    <tr *ngFor="let y of m.members">
                    <h1>{{y.Id}}</h1>
                    <td>{{y.Name}}</td>
                    <td>{{y.Status}}</td>
                    </tr>
                  </tbody>
    </table>
            </div>

          </div>
        </div>
</div>
</div> <!--h1> for insert 3 column in a row</h1-->

